<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<title>Booking Form</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="booking/css/booking.css">
		
		
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.2.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/camera.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="js/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script src="booking/js/booking.js"></script>
		<script>
			$(document).ready(function(){
				jQuery('#camera_wrap').camera({
					loader: false,
					pagination: false ,
					minHeight: '444',
					thumbnails: false,
					height: '28.28125%',
					caption: true,
					navigation: true,
					fx: 'mosaic'
				});
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
			<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="page1" id="top">
		<div class="main">
<!--==============================header=================================-->
			<div th:insert="~{fragments/header.html}"></div>
			
			<div style="width:60%; margin:auto">
				<h3  style="margin-top:">Booking Form</h3>
						<h2 th:if="${message}=='Booking Sucessfully done..'" th:style="'color:green'">Booking Sucessfully done..</h2>
						<h2 th:if="${message}=='Something went wrong'" th:style="'color:red'">Something went wrong!</h2>
						<h2 th:text="${personExceed}" th:style="'color:red'"></h2>
				<!-- Booking Form Start -->	 <form id="bookingForm" th:action="@{/bookingForm}" method="POST" th:object="${bookingFormObj}">
							<div  style="margin-top:-20px; ">
							<div class="fl1">
								<div class="tmInput" style="width:180%">
									<input name="name" placeHolder="Name:" th:field="*{name}" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
									<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  th:style="'color:red'" ></span>
								</div>
								<div class="tmInput" style="width:180%">
									<input name="from" placeHolder="Source:" th:field="*{source}"  type="text" data-constraints="@NotEmpty @Required ">
									<span th:if="${#fields.hasErrors('source')}" th:errors="*{source}" th:style="'color:red'"></span>
								</div>
							</div>
							<div class="fl1">
								<div class="tmInput" style="width:185%; margin-left:60%">
									<input name="email" placeHolder="Email:" th:field="*{email}"  type="text" data-constraints="@NotEmpty @Required @Email">
									<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:style="'color:red'"></span>
								</div>
								<div class="tmInput mr0" style="width:185%; margin-left:60%">
									<input name="to" placeHolder="Destination:" th:field="*{destination}"  type="text" data-constraints="@NotEmpty @Required">
									<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" th:style="'color:red'"></span>
								</div>
							</div>
							<div class="clear"></div>
							<strong>Time</strong>
							<div class="">
								<input name="time" placeHolder="" th:value="*{time}"  type="time" data-constraints="@NotEmpty @Required">
								<span th:if="${#fields.hasErrors('time')}" th:errors="*{time}" th:style="'color:red'"></span>
								
							</div>
							<div class="clear"></div>
							<strong>Date</strong>
							<label class="">
								<input type="date" name="date" th:value="*{date}" 	placeHolder='20/05/2014' data-constraints="@NotEmpty @Required @Date">
								<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" th:style="'color:red'"></span>
								
							</label>
							
							<div class="tmRadio">
								
								<p>Comfort</p>
								<input name="comfort" value="cheap" th:checked="*{comfort=='cheap'}" type="radio"  id="tmRadio0" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' checked/>
								<span>Cheap</span>
								<input name="comfort" value="standard" th:checked="*{comfort=='standard'}" type="radio"  id="tmRadio1" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
								<span>Standart</span>
								<input name="comfort" value="lux" th:checked="*{comfort=='lux'}" type="radio"  id="tmRadio2" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
								<span>Lux</span><br>
								
								<span th:if="${#fields.hasErrors('comfort')}" th:errors="*{comfort}" th:style="'color:red'"></span>
							</div>
							
							
							<div class="fl1 fl2">
								<em>Adult</em>
								<select name="adult" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
									<option th:Selected="*{adult==1}">1</option>
									<option>1</option>
									<option th:selected="${bookingFormObj.adult==2}">2</option>
									<option th:Selected="*{adult==3}">3</option>
									<option th:selected="*{adult==4}">4</option>
								</select><br><br>
								<span th:if="${#fields.hasErrors('adult')}" th:errors="*{adult}" th:style="'color:red'"></span>
								
							</div>
							<div class="fl1 fl2">
								<em>Children</em>
								<select name="children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
									<option th:selected="*{children==0}">0</option>
									<option>0</option>
									<option th:selected="*{children==1}">1</option>
									<option th:selected="*{children==2}">2</option>
									<option th:selected="*{children==3}">3</option>
						
								</select>
								<span th:if="${#fields.hasErrors('children')}" th:errors="*{children}" th:style="'color:red'"></span>
							</div>
							<div class="clear"></div>
							<div class="tmTextarea">
								<textarea name="message" th:field="*{message}" placeHolder="Message" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
								<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" th:style="'color:red'"></span>
								
							</div>
							<button class="btn" style="margin-bottom:20px; ">Submit</button>
							</div>
							
<!-- Booking Form End--> </form>
			</div>
				
		</div>
<!--==============================footer=================================-->
		<div th:insert="~{fragments/footer.html}"></div>
		
		<script>
			$(function (){
				$('#bookingForm').bookingForm({
					ownerEmail: '#'
				});
			})
			$(function() {
				$('#bookingForm input, #bookingForm textarea').placeholder();
			});
		</script>
	</body>
</html>